altair==4.2.2
Bgolearn==2.0.0
catboost==1.2
graphviz==0.20.1
matplotlib==3.6.3
numpy==1.25
pandas==1.5.3
Pillow==9.5.0
PyYAML==6.0
requests==2.28.2
scikit_learn==1.2.2
seaborn==0.12.2
shap==0.43.0
streamlit
streamlit_analytics==0.4.1
streamlit_extras==0.2.7
streamlit_option_menu==0.3.2
streamlit_shap==1.0.2
xgboost==1.7.4
sko==0.5.7
SciencePlots==2.1.0
prettytable==3.8.0
tabulate==0.9.0
pymoo==0.6.0.1
matminer==0.9.0
bayesian-optimization==1.4.3